<h3>Welcome to Movie Night!</h3>
<p>
Below you will find a list of Movie Nights that you have organized or joined.
<br>
To create a new Movie Night, click Browse Movies, choose a movie, and then select a showtime.
  <% if user_signed_in? && current_user.rsvps.length > 0 %>
    <h4>Movie Nights</h4>
    <% current_user.rsvps.each do |rsvp| %>
      <%= link_to rsvp.event.title, event_path(rsvp.event.id) %>
      <br>
    <% end %>
    <% end %>
    <br>
    <% if user_signed_in? && current_user.events.length > 0 %>
    <h4>Movie Nights Organized</h4>
    <% current_user.events.each do |event| %>
      <%= link_to event.title, event_path(event.id) %>
      <br>
    <% end %>
  <% end %>


</p>


