  #header {
    height: 100vh;
    width: 100%;
    background-image: url("http://i.imgur.com/i1gnR7g.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    line-height: 50vh;
    font-size: 10vh;

  }

#mainmenu {
  height: 100vh;
}

.navbar-header{
  height: 70px;
}

